{{define "title"}}Create a New Post{{end}}

{{define "main"}}
<form action="/post/create" method="post">
        <div>
        <label>Title:</label>
        <!-- Use the `with` action to render the value of .Form.FieldErrors.title
        if it is not empty. -->
        {{with .FieldErrors.title}}
        <label class='error'>{{.}}</label>
        {{end}}
        <!-- Re-populate the title data by setting the `value` attribute. -->
        <input type='text' name='title' value='{{.Form.Title}}'>
        </div>
        <div>
        <label>Content:</label>
        <!-- Likewise render the value of .Form.FieldErrors.content if it is not
        empty. -->
        {{with .FieldErrors.content}}
        <label class='error'>{{.}}</label>
        {{end}}
        <!-- Re-populate the content data as the inner HTML of the textarea. -->
        <textarea name='content'>{{.Form.Content}}</textarea>
        </div>
    <div>
        <label>Category:</label>
        <input type="checkbox" name="category" value="music" checked> K-Music
        <input type="checkbox" name="category" value="dramas"> K-Dramas
        <input type="checkbox" name="category" value="movies"> K-Movies
        <input type="checkbox" name="category" value="actors"> Actors
        <input type="checkbox" name="category" value="idols"> Idols 
    </div>
    <div>
        <input type="submit" value="Publish post"></a>
    </div>
</form>
{{end}}
{{define "plus"}}
{{end}}