{{define "title"}}Create a New Post{{end}}

{{define "main"}}
<form action="/post/create" method="post">
    {{with .NonFieldErrors.tags}}
    <div class="error">{{.}}</div>
    {{end}}
    <div>
        <label>Title:</label>
        {{with .FieldErrors.title}}
        <label class="error">{{.}}</label>
        {{end}}
        <input type="text" name="title" value="{{.Form.Title}}">
    </div>
    <div>
        <label>Content:</label>
        {{with .FieldErrors.content}}
        <label class="error">{{.}}</label>
        {{end}}
        <textarea name="content">{{.Form.Content}}</textarea>
    </div>
    <div>
        <label>Category:</label>
        <input type="checkbox" name="category" value="music" checked> K-Music
        <input type="checkbox" name="category" value="dramas"> K-Dramas
        <input type="checkbox" name="category" value="movies"> K-Movies
        <input type="checkbox" name="category" value="actors"> Actors
        <input type="checkbox" name="category" value="idols"> Idols
    </div>

    {{/* Image upload section */}}
    <div>
        <h3>Image Upload</h3>
        <!-- <form method="post" enctype="multipart/form-data"> -->
            <input type="file" name="image" alt="hello" accept="image/*">
            <!-- <input type="submit" value="Upload Image" formenctype="multipart/form-data"> -->
        <!-- </form> -->
    </div>

    <div>
        <input type="submit" value="Publish post" formenctype="multipart/form-data">
    </div>
</form>
{{end}}

{{define "plus"}}
{{/* This section is empty because it's not needed for the updated form */}}
{{end}}

{{define "scripts"}}
<script src="/static/js/main.js" type="text/javascript"></script>
{{end}}
