{{define "title"}}Post #{{.Post.ID}}{{end}}
{{define "main"}}
    {{with .Post}}
    <div class="snippet">
        <div class="metadata">
            <div id="postID" hidden>{{.ID}}</div>
            <strong>{{.Title}}</strong>
            <span> Author: {{.Author}}</span>
        </div>
        <pre><code>{{.Content}}  {{if eq .Image ""}} {{else}} <br> <img class="image-container" src="{{.Image}}"> {{end}}</code></pre>
        <div class="metadata">
            <time>Posted: {{humanDate .Created}} <br> Tags: {{.Tags}}</time>
    {{end}}
            {{if .Logged}}
        
                <time>
                    <button id="likeButton" >
                        <div id="isLiked" hidden>{{.IsLiked}}</div>
                        {{if .IsLiked}}
                        <img id="likeIcon" src="/static/img/liked.png" alt="Like" width="20" height="20">
                        {{else}}
                        <img id="likeIcon" src="/static/img/like.png" alt="Like" width="20" height="20">
                        {{end}}
                        <span id="likeCount">{{.Post.Likes}}</span>          
                    </button>
                    <button id="dislikeButton" >
                        <div id="isDisliked" hidden>{{.IsDisliked}}</div>
                        {{if .IsDisliked}}
                        <img id="dislikeIcon" src="/static/img/disliked.png" alt="Dislike" width="20" height="20">
                        {{else}}
                        <img id="dislikeIcon" src="/static/img/dislike.png" alt="Dislike" width="20" height="20">
                        {{end}}
                        <span id="dislikeCount">{{.Post.Dislikes}}</span>          
                    </button>
                </time>
                {{else}} 
                <time>
                    <button>
                        <img src="/static/img/like.png" alt="Like" width="20" height="20"> <span id="likeCount">{{.Post.Likes}}</span>
                    </button>
                    <button>
                        <img src="/static/img/dislike.png" alt="Dislike" width="20" height="20"> <span id="dislikeCount">{{.Post.Dislikes}}</span>
                    </button>
                </time>
            {{end}}
            </div>
    </div>
{{end}}

{{define "plus"}}
{{if .Comments}}
<div class="snippet">
    <div class="metadata">
    <strong>Comments:</strong>
    </div>
    
    {{if .Logged}}   
        {{range .Comments}}
        <div class="metadata">
            {{.Author}}: {{.Comment}}
            <span>
            <button class="commentLikeButton" comment-id="{{.Id}}" comment-liked="{{.IsLiked}}">
            {{if .IsLiked}}
                <img class="commentLikeIcon" src="/static/img/thumbUpClicked.png" alt="Like" width="30" height="30">
            {{else}}
                <img class="commentLikeIcon" src="/static/img/thumbUpUnclicked.png" alt="Like" width="30" height="30">
            {{end}}
            <span class="commentLikeCount">{{.Likes}}</span>          
            </button>
            <button class="commentDislikeButton" comment-id="{{.Id}}" comment-disliked="{{.IsDisliked}}">
                {{if .IsDisliked}}
                    <img class="commentDislikeIcon" src="/static/img/thumbUpClicked.png" alt="Dislike" width="30" height="30">
                {{else}}
                    <img class="commentDislikeIcon" src="/static/img/thumbUpUnclicked.png" alt="Dislike" width="30" height="30">
                {{end}}
                <span class="commentDislikeCount">{{.Dislikes}}</span>          
                </button>
            </span>
        </div>
        {{end}}
        {{else}}
            {{range .Comments}}
            <div class="metadata">
            {{.Author}}: {{.Comment}}
            <span>
                <button>
                    <img class="commentLikeIcon" src="/static/img/thumbUpUnclicked.png" alt="Like" width="30" height="30"><span class="commentLikeCount">{{.Likes}}</span>
                </button>
                <button>
                    <img class="commentDislikeIcon" src="/static/img/thumbUpUnclicked.png" alt="Dislike" width="30" height="30"><span class="commentDislikeCount">{{.Dislikes}}</span>          
                </button>
            </span>
            </div> 
            {{end}} 
    {{end}}     
 </div>
{{end}}

    {{if .Logged}}
        <form method="post">
            <div class="metadata">
                {{with .FieldErrors.comment}}
                    <label class='error'>{{.}}</label>
                {{end}}
                <input type="text" name="comment" placeholder="Comment..." size="50">         
                <span><input id="commentSubmit" type="submit" value="Submit" alt="Comment" style="height: 10px;"></span>
            </div>
        </form>
    {{end}}
</div>
{{end}}

{{define "scripts"}}
<script src="/static/js/main.js"></script>
<script src="/static/js/post.js"></script>
{{end}}


